POSTGRES_PASSWORD=kubequeue
KUBEQUEUE_API_PORT=8080
KUBEQUEUE_CORS_ALLOWED_ORIGINS=http://localhost:8081
KUBEQUEUE_DATABASE_URL=postgres://kubequeue:kubequeue@localhost:5432/kubequeue?sslmode=disable
KUBEQUEUE_API_INTERNAL_URL=http://localhost:8080
KUBEQUEUE_LOG_LEVEL=info
KUBEQUEUE_WATCH_NAMESPACES=default
